@import "../base/variable.scss";
@import "../base/mixins.scss";


body{
	font-family: "Josefin Sans", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: inherit;
}

.no_event{
    pointer-events: none;
}

.scroll_off{
    overflow: hidden;
    @include ioshidden();
}

.form-control{
    font-size: 14px;
}

label{
	&.error{
		display: block;
		color: #f00 !important;
		font-weight: 500 !important;
		font-size: 14px !important;
	}
}





#pb_scroll::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 0px rgba(0,0,0,0);
	-webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0);
	background-color: none;
}

#pb_scroll::-webkit-scrollbar
{
	width: 3px;
    height: 3px;
	background-color: none;
}

#pb_scroll::-webkit-scrollbar-thumb
{
    border-radius: 50px;
	background-color: $scroll_color;
	border: 1px solid $scroll_color;
}





/* Extra Huge large desktops */
@media (min-width: 1920px) {
}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {
}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {
}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .btn-primary{
        font-size: 14px;
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .btn-primary{
        font-size: 14px;
    }
    .btn-primary-1{
    	font-size: 14px;
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .btn-primary{
        font-size: 14px;
    }
    .btn-primary-1{
    	font-size: 14px;
    }
}

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
	.btn-primary{
        font-size: 14px;
    }
    .btn-primary-1{
    	font-size: 14px;
    }
}

/* Smaller phones */
@media (max-width: 360px) {
	.btn-primary{
        font-size: 14px;
    }
    .btn-primary-1{
    	font-size: 14px;
    }
}

/* Smaller phones */
@media (max-width: 320px) {
}
