@import "../base/variable.scss";
@import "../base/mixins.scss";


.change_password {
    .upper {
        padding: 90px 30px 30px 30px;
        border-bottom: 1px solid $border_color_2;

        h3 {
            font-size: 36px;
            line-height: 42px;
            margin-bottom: 0;
            color: $primary_text_color;
            font-weight: 700;
        }
    }

    .lower {
        padding: 30px;
        width: 80%;
        margin: 0 auto;

        .inner_form {
            margin-bottom: 20px;

            .form_group {
                margin-bottom: 20px;

                &:last-child {
                    margin-bottom: 0;
                }

                .form-label {
                    margin-bottom: 15px;
                    font-size: 16px;
                    line-height: 22px;
                    font-weight: 500;
                    color: $label;

                }

                .form-control {
                    padding: 13px 23px;
                    box-shadow: none;
                    outline: none;
                    border: none;
                    border-radius: 15px;
                    background-color: $input_bg_color;
                    font-size: 16px;
                    line-height: 22px;
                    color: $label;
                }
            }
        }

        .change_btn {
            text-align: center;
            border-radius: 15px;
            background-color: $primary_color;
            color: $white;
            font-size: 14px;
            line-height: 20px;
            font-weight: 500;
            padding: 12px 22px;
            min-width: 150px;
        }
    }
}





/* Extra Huge large desktops */
@media (min-width: 1920px) {}

/* Extra Huge large desktops */
@media (min-width: 1680px) and (max-width: 1919px) {}

/* Extra Huge large desktops */
@media (min-width: 1600px) and (max-width: 1679px) {}

/* Extra large desktops and mac laptops*/
@media (min-width: 1400px) and (max-width: 1599px) {}

@media (min-width: 1300px) and (max-width: 1399px) {
    .change_password {
        .upper {
            padding: 70px 30px 30px 30px;

            h3 {
                font-size: 33px;
            }
        }

        .lower {
            .inner_form {
                .form_group {
                    .form-label {}

                    .form-control {
                        border-radius: 12px;
                    }
                }
            }

            .change_btn {}
        }
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .change_password {
        .upper {
            padding: 60px 25px 25px 25px;


            h3 {
                font-size: 30px;
                line-height: 36px;
            }
        }

        .lower {
            padding: 25px;

            .inner_form {
                .form_group {
                    .form-label {}

                    .form-control {
                        border-radius: 10px;
                        padding: 12px 17px;
                    }
                }
            }

            .change_btn {
                border-radius: 10px;
                padding: 10px 15px;
            }
        }
    }
}

/* Landscape tablets and ipad */
@media (min-width: 768px) and (max-width: 991px) {
    .change_password {

        .upper {
            padding: 50px 20px 20px 20px;

            h3 {
                font-size: 27px;
                line-height: 33px;
            }
        }

        .lower {
            padding: 20px;

            .inner_form {
                .form_group {
                    margin-bottom: 15px;

                    .form-label {
                        font-size: 15px;
                        margin-bottom: 13px;
                    }

                    .form-control {
                        border-radius: 6px;
                        padding: 10px 13px;
                        font-size: 15px;
                    }
                }
            }

            .change_btn {
                border-radius: 6px;
                padding: 8px 12px;
            }
        }
    }
}

/* 1200 desktop only */
// @media (min-width: 820px) and (max-width: 1000px) {} //// use it when u need it

/* Landscape phones and portrait tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .change_password {
        .upper {
            padding: 15px 15px 15px 15px;

            h3 {
                font-size: 24px;
                line-height: 30px;
            }
        }

        .lower {
            padding: 15px;

            .inner_form {
                .form_group {
                    margin-bottom: 15px;

                    .form-label {
                        font-size: 14px;
                        margin-bottom: 10px;
                    }

                    .form-control {
                        border-radius: 6px;
                        padding: 6px 11px;
                        font-size: 14px;
                    }
                }
            }

            .change_btn {
                border-radius: 6px;
                padding: 8px 12px;
                font-size: 13px;
                line-height: 19px;
            }
        }
    }
}

/* Android portrait screen */
@media (min-width: 375px) and (max-width: 667px) {}

//// also this one

/* Landscape phones and portrait tablets */
@media (min-width: 361px) and (max-width: 575px) {
    .change_password {
        .upper {
            padding: 10px 10px 10px 10px;

            h3 {
                font-size: 20px;
                line-height: 30px;
            }
        }

        .lower {
            padding: 10px;
            width: 90%;

            .inner_form {
                .form_group {
                    margin-bottom: 15px;

                    .form-label {
                        font-size: 13px;
                        margin-bottom: 7px;
                    }

                    .form-control {
                        border-radius: 6px;
                        padding: 7px 11px;
                        font-size: 13px;
                    }
                }
            }

            .change_btn {
                line-height: 19px;
                border-radius: 6px;
                padding: 6px 12px;
                font-size: 13px;
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 360px) {
    .change_password {
        .upper {
            padding: 10px 10px 10px 10px;

            h3 {
                font-size: 16px;
                line-height: 25px;
            }
        }

        .lower {
            padding: 10px;
            width: 95%;
            .inner_form {
                margin-bottom: 10px;
                .form_group {
                    margin-bottom: 10px;

                    .form-label {
                        font-size: 13px;
                        margin-bottom: 7px;
                    }

                    .form-control {
                        border-radius: 6px;
                        padding: 6px 9px;
                        font-size: 13px;
                    }
                }
            }

            .change_btn {
                line-height: 19px;
                border-radius: 6px;
                padding: 6px 12px;
                font-size: 13px;
            }
        }
    }
}

/* Smaller phones */
@media (max-width: 320px) {}