$scroll_color: #11114F;
$primary_color: #11114F;
$secondary_color: #D2050A;
$bar_secondary_color: #D2050A;
$text_color: #11114F;
$secondary_text_color: #212529;
$banner_text_color: #757575;
$diactivate: #757575;
$about_text_color: #757575;
$border_color: #212529;
$shadow_color: #00000032;
$border_color_2: #00000032;
$otp_border: #9d9d9d;
$primary_text_color: #11114F;
$input_bg_color: #F2F2F2;
$bar_bg_color: #F2F2F2;
$nav_link_hover_color: #D2050A;
$icon_hover_color: #D2050A;
$active_btn_color: #D2050A;
$active_btn_hover_color: #b90407;
$footer_text_color: #ffffff99;
$white: #FFF;
$black: #000;
$sign_up_left: #F2B4B6;
$label: #111111;
$dashboard_text_clr: #111111;
$box_shadow_1: #2968b033;
$about_bg:#FAFAFA;
$ratings:#f6c917;
$star_color: #9d9a9a;
$quotes_color: #e6e6e6 ;
$date_color: #B1B1B1;
$table_bg:#eaeaea5c;
$excellent: #4F9836;
$red_text: #ff0000;
$about_bg: #F8F8F8;
$dashboard_bg: #F9F9F9;
$contact_bg_bottom: #ffffff33;
$accordian_shadow: #11111a0d;
$accord_bg_2: #8080800f;
$dashboard_shadow: #0000000d;
$user_text_color: #698474;
$table_bg_td:#F8F8F8;